.header__title {
  display: grid;
  height: 100%;
  align-content: center;
  justify-content: end;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-items: center;
}
